.mg-bottom-md {
  margin-bottom: 2.4rem;
}

.mg-bottom-lg {
  margin-bottom: 3.2rem;
}

.mg-bottom-huge {
  margin-bottom: 4.8rem;
}

.mg-bottom-xl {
  margin-bottom: 6.4rem;
}

.mg-bottom-2xl {
  margin-bottom: 9.6rem;
}
